<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p><label for="id_title">title:</label>
        <input id="id_titte" type="text" name="title" maxlength="500" required></p>
    <p><label for="id_category">category:</label>
        <textarea name="category" id="id_category" required></textarea></p>
    <p><label for="id_content">content:</label>
        <input type="text" name="content" id="id_content" required></p>
    <p><label for="id_create_by">Cc myself:</label>
        <input type="text" name="create_by" id="id_create_by"></p>
</body>
</html>