<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        td{
            border: 1px solid red;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <td>tieu de</td>
            <td>cc</td>
            <td>email</td>
            <td>noi dung</td>
        </tr>
        <tr>
            <td>{{ email_data.title }}</td>
            <td>{{ email_data.cc }}</td>
            <td>{{ email_data.content }}</td>
            <td>{{ email_data.email }}</td>
        </tr>
    </table>
</body>
</html>